

.selected-tab{
    font-weight: bold;
    font-family: 'arial';
    color: #2F84EA;
}

.flag-style {
    border: 2px solid #2F84EA; 
    border-radius: 10px;
    height: 30px; 
    width:30px; 
}

.not-flag-style {
    height: 30px; 
    width:30px; 
    border-radius: 10px;
}