<ion-header class="ion-text-center" mode="ios">
  <h1>Language</h1>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <ion-text>Предметы: {{palabras.length}}</ion-text> -->
    <div >

   



        <div style="margin-top:10px">
          <ion-slides style="height: 60px" [options]="sliderConfigMovie">
            <ion-slide *ngFor="let c of categorias">
              <div (click)="selectsec(c)" [ngClass]=" c.selected ? 'slide-buttons-selected' : 'slide-buttons-not-selected' ">
                <ion-label>{{c.section}}</ion-label>
              </div>
            </ion-slide>
          </ion-slides>
        </div>



        <div class="aleatorio-y-reiniciar">
          <div class="aleatorio-boton" (click)="toggleAleatorio()">  
            <ion-label>Aleatorio</ion-label>         
            <ion-checkbox style="margin-left: 15px;" color="primary" [checked]="aleatorio"></ion-checkbox>                  
          </div>
          <div>
            <ion-button mode="ios" color="light" (click)="reset()">Reiniciar</ion-button>
          </div>
        </div>



     


    </div>
    
    <div id="letterZone">
      <div [ngStyle]="{'width':'90%', 'display':'flex', 'justify-content':'space-between'}">
        <div> 
         <!--  <p>Cлова: {{counter}}/{{palabras.length}}</p> -->
          <p *ngIf="aleatorio==false">Palabra: {{counter}}/{{palabras.length}}</p>
          <p *ngIf="aleatorio==true">Palabra: {{palabrasrandom.length}}/{{palabras.length}}</p>
        </div>
        <div [ngStyle]="{'display':'flex', 'width':'120px', 'justify-content':'space-between'}">
          <div [ngStyle]="{'display':'flex'}">
            <div [ngStyle]="{'width':'20px', 'height':'20px', 'background-color':'#94FF93'}"></div>
            <p [ngStyle]="{'margin-left':'7px'}">{{green}}</p>
          </div>
          <div [ngStyle]="{'display':'flex'}">
            <div [ngStyle]="{'width':'20px', 'height':'20px', 'background-color':'#FF9393'}"></div>
            <p [ngStyle]="{'margin-left':'7px'}">{{red}}</p>
          </div>          
        </div>       
      </div>


      <ion-card mode="ios" id="carta" (click)="espanol=!espanol">
        <ion-card-content>
          <div *ngIf="palabras.length!=0">
            <strong [ngStyle]="{'font-size.px':25}" *ngIf="espanol">{{word.espanol}}</strong>
            <strong [ngStyle]="{'font-size.px':25}" *ngIf="!espanol">{{word.ruso}}</strong>
          </div>
          <div *ngIf="palabras.length==0">
            <p *ngIf="espanol">no words</p>
          </div>
        </ion-card-content>
      </ion-card>
      <div id="votacion">
        <div [ngClass]="{'wrongunselected':!wrongselected, 'wrongselected':wrongselected}" (click)="votewrong(wordindex)"></div>
        <div [ngClass]="{'correctunselected':!correctselected, 'correctselected':correctselected}" (click)="votecorrect(wordindex)"></div>
      </div>
    </div>

    
    <div id="tools" >
      <div id="cards">
        <ion-button color="white" (click)="next()">
         <!--  <p>СЛЕДУЮЩИЙ</p> -->
          <p>Siguiente</p>
        </ion-button>  
      </div>
    </div>

  </div>
</ion-content>

