#container {
  height: 100%;


  width: 100%;


  display: flex;
  flex-direction: column;



}

#letterZone{
  height: 75%;
  width: 100%;
}
#letterZone ion-card{
  width: 200px;
  height: 300px;
}
#carta {
  padding: 30px;
}

#tools{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tools #cards ion-button {
  width: 300px;
}


/* 
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

 */

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {



  color: #8c8c8c;

  margin: 0;
}



ion-card{
  width: 30%;
}



#cards {

  height: 100px;
  width: 300px;


  display: flex;
  justify-content: space-around;

  
}

#cards ion-button{
  width: 100px;
  height: 75px;
  display: inline-block;
}

#boton{
 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


#modalButton{
 
  display: flex;
  justify-content: center;
  width: 100%;


 

}
#modalButton ion-button {

 width: 300px;
}

ion-modal {
  --height: 30%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}


#buttonAddWord ion-button{
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
  right: 0;


}