<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <ion-text>Предметы: {{palabras.length}}</ion-text> -->
    <ion-text>Objetos: {{palabras.length}}</ion-text>
    <div id="letterZone">
      <div [ngStyle]="{'width':'90%', 'display':'flex', 'justify-content':'space-between'}">
        <div> 
         <!--  <p>Cлова: {{counter}}/{{palabras.length}}</p> -->
          <p>Palabra: {{counter}}/{{palabras.length}}</p>
        </div>
        <div [ngStyle]="{'display':'flex', 'width':'120px', 'justify-content':'space-between'}">
          <div [ngStyle]="{'display':'flex'}">
            <div [ngStyle]="{'width':'20px', 'height':'20px', 'background-color':'#94FF93'}"></div>
            <p [ngStyle]="{'margin-left':'7px'}">{{green}}</p>
          </div>
          <div [ngStyle]="{'display':'flex'}">
            <div [ngStyle]="{'width':'20px', 'height':'20px', 'background-color':'#FF9393'}"></div>
            <p [ngStyle]="{'margin-left':'7px'}">{{red}}</p>
          </div>          
        </div>       
      </div>


      <ion-card mode="ios" id="carta" (click)="espanol=!espanol">
        <ion-card-content>
          <div *ngIf="palabras.length!=0">
            <strong [ngStyle]="{'font-size.px':25}" *ngIf="espanol">{{word.espanol}}</strong>
            <strong [ngStyle]="{'font-size.px':25}" *ngIf="!espanol">{{word.ruso}}</strong>
          </div>
          <div *ngIf="palabras.length==0">
            <p *ngIf="espanol">no words</p>
          </div>
        </ion-card-content>
      </ion-card>
      <div id="votacion">
        <div [ngClass]="{'wrongunselected':!wrongselected, 'wrongselected':wrongselected}" (click)="votewrong(wordindex)"></div>
        <div [ngClass]="{'correctunselected':!correctselected, 'correctselected':correctselected}" (click)="votecorrect(wordindex)"></div>
      </div>

    </div>

    
    <div id="tools" >
      <div id="cards">
        <ion-button color="white" (click)="next()">
         <!--  <p>СЛЕДУЮЩИЙ</p> -->
          <p>Siguiente</p>
        </ion-button>  
      </div>
    </div>

  </div>
</ion-content>
